tut.py
Summer2024-BrownSprintLink.docx
Screenshot 2024-11-21 at 4.41.48 PM.png
Screenshot 2024-10-25 at 12.02.08 PM.png
Screenshot 2024-10-25 at 11.33.02 AM.png
Screenshot 2024-10-25 at 5.26.53 PM.png
Screenshot 2024-10-17 at 10.37.38 AM.png
Screenshot 2024-10-07 at 5.56.16 PM.png
Rubenstein_Kinase.docx
fastconformationinstall.pdf
fast.txt
dumbasscubas issue.docx
.DS_Store
aukb_domain_wt_128_256/
AukB_wt_pdb/
AukB_wt_vid/
conda/
fastconf/
kinase_papers/
pdb/
pdbanalysis/
struggles/
Subgroup_papers/

aukb_domain_wt_128_256/aukb_domain_wt.a3m
# Ignore the large A3M file
aukb_domain_wt_128_256/aukb_domain_wt.a3m
aukb_domain_wt_128_256/aukb_domain_wt.a3m
